{% extends 'base.html' %} {% block title %}Contact - My Website{% endblock %} {%
block content %}
<section class="contact-section">
  <h2>Contact Us</h2>
  <p>
    This is the contact page of my website. You can use the form below to get in
    touch with me.
  </p>
  <form
    id="contact-form"
    class="contact-form"
    action="/submit_contact_form"
    method="post"
  >
    <div class="input-box">
      <label for="name">Name:</label><br />
      <input type="text" id="name" name="name" /><br /><br />
    </div>
    <div class="input-box">
      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" /><br /><br />
    </div>
    <div class="input-box">
      <label for="message">Message:</label><br />
      <textarea id="message" name="message" rows="4"></textarea><br /><br />
    </div>
    <input type="submit" value="Submit" class="submit-btn" />
  </form>
</section>
{% endblock %}

<script src="{{ url_for('static', filename='js/contact.js') }}"></script>
