body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #163b6d;
    color: #ffffff;
}

.title-bar {
    background-color: #d7663a;
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo img {
    width: 50px; /* Adjust logo size as needed */
    margin-right: 10px;
}

.title-text {
    flex-grow: 1;
}

.navbar {
    background-color: #3375c4;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 10px;
}

.container {
    max-width: 1000px; /* Adjust max-width as needed */
    margin: 50px auto;
    padding: 20px;
    background-color: #163b6d;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-container {
    margin-bottom: 20px;
    text-align: center;
}

.input-container label {
    margin-right: 5px;
}

.input-container input {
    width: 50px;
    margin-right: 10px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    border: none;
    color: white;
    border-radius: 5px;
}

.button:hover {
    background-color: #45a049;
}

.maze-container {
    margin-top: 20px;
    text-align: center;
    display: flex;
}

.maze-canvas {
    border: 2px solid #000000;
    margin: 0 10px; /* Adjust margin as needed */
}
